:root {
  --blue: slateblue;
  --green: #2ecc71;
  --red: #e74c3c;
}
.spinner {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-left-color: white;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}
.nospace {
  margin: 0 5px;
}
.fullbox {
  width: 40%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}
.spaced {
  margin: 10px 0px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bar-graph {
  width: 50%;
}
.district-box {
  margin: 15px auto;
  width: fit-content;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
.list-district,
.search {
  padding: 8px;
  margin: 5px 5px;
}
.search {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.result-container {
  display: flex;
}
.left-result {
  width: 60%;
}
@media only screen and (max-width: 900px) {
  .bar-graph {
    width: 100%;
    margin: 0px auto;
  }
}
@media only screen and (max-width: 600px) {
  .bar-graph {
    width: 100%;
    height: 100%;
  }
  .result-container {
    flex-direction: column;
  }
  .right-result {
    margin: 20px auto;
    width: 80%;
    height: 50% !important;
  }
  .fullbox,
  .left-result {
    width: 98%;
  }
}
